### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

### Dependencies ###
node_modules

### Logs ###
logs
*.log

### Build ###
build/

### Configuration ###
config/