@import 'reset.scss';
@import 'variables.scss';
@import 'mixins.scss';

body {
  color: white;
  background: $light-grey;
  background-color: $light-grey;
  font-family: $main-font
}

.background {
  width: 100vw;
  @include flex-column-nowrap();
}


.main {
  background-color: $dark-grey;
  width: 100%;
  max-width: 1200px;
  min-height: 400px;
  margin-top: 60px;
  margin-bottom: 60px;
  @include flex-column-nowrap();
}

.fullwidth-container {
  width: 100%;
}

.loader {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-controls {
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}

.chart-graph {
  box-sizing: border-box;
  width: 100%;
  min-height: 230px;
  padding: 10px;
  @include flex-column-nowrap();
}

.stock-list {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.stock-list__item-container {
  width: 100%;
  height: 160px;
  padding: 10px;

  @media screen and (min-width: 768px) {
    width: 50%;
  }

  @media screen and (min-width: 1200px) {
    width: 393px;
  }
}

.card {
  width: 100%;
  height: 100%;
  background-color: $dark-white;
  color: black;
  padding: 10px;
}

.card__header {
  width: 100%;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-size: 26px;
}

.card__subtitle {
  font-size: 16px;
  color: $secondary-font-color;
}

.card__description {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.timecontroler {
  width: 50px;
  margin: 5px;
  background-color: $light-grey;
  height: 30px;
  border: none;

  &_active {
    background-color: black;
  }
}

.stock-list__item-controler {
  @extend .card;
}

.footer {
  margin-top: 30px;
  margin-bottom: 70px;
}